body {
    font-family: sans-serif;
}

h1 {
    color: blue;
    font-family: 'Montserrat Alternates', sans-serif;
}


code {
    color: red;
    font-family: monospace;
}


.special {
    color: green;
}

ol li {
    background-color: black;
    color: white;
}